body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  background: #222;
}

button {
  padding: 10px 20px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
}

#packagesContainer, #orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.package {
  background: #333;
  border: 1px solid #444;
  margin: 10px;
  padding: 15px;
  width: 220px;
  text-align: center;
  border-radius: 8px;
}
